<<<<<<< HEAD
<script type="text/javascript">
  window.initialData = <%- JSON.stringify(initialData) -%>;
</script>

<%- include('header') -%>
  <div id="root"><%- initialMarkup -%></div>
=======
<%- include('header') -%>
  <div id="root"><%- initialMarkup -%></div>

  <script type="text/javascript">
    window.initialData = <%- JSON.stringify(initialData) -%>;
  </script>
>>>>>>> origin/samerbuna-finalcode
<%- include('footer') -%>
